/***************************general********************/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: yellow;
}
#container{
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

.blue{
    background-color: rgb(38, 87, 247);
    color: white;
    text-align: center;
}
.darkBlue{
    background-color: blue;
    color: white;
    text-align: center;
}
a{
    color: white;
}
li{
    list-style: none;
}
article>p {
color: black;
margin-top: 10px;
}

.blue>p {
    color: white;
    margin-top: 20px;
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
}

/*******************header*********************************/

.FamilleSimpson{
    width: 100%;
    vertical-align: bottom;
}

/*******************************main*********************/
main{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
}

h1{
    color: rgb(110, 110, 3);
    font-size: 30px;
}
nav{
    height: fit-content;
    width: 15%;
    margin-bottom: 15px;
    margin-top: 15px;
}
article{
width: 60%;
text-align: justify;
}
aside{
width: 20%;
}

.matt{
    width: 60%;
    margin-top: 5px;
}
li{
    margin: 10px;
}






























/* header {
    background-color: blue;
}
h1 {
    color: white;
    text-align: center;
}
.FamilleSimpson {
    width: 100%;
}
nav {
    list-style-type: none;
    background-color: blue;
    margin: 30px;
    margin-left: 10px;
    padding: 0;
    width: 135px;
    height: 135px;
}
li  a{
    color: white;
    text-align: center;
}
li {
    text-align: center;
}
h2 {
    color: yellow;
    margin-bottom: 10px;
    size: 30px;
}
.biographie {
    background-color: blue;
    width: 300px;
}
footer {
    text-align: center;
    background-color: blue;
    color: #ffffff;
}
main {
    display: flex;
}
h3 {
    color: white;
    text-align: center;
    size: 30px;
}

p{
    color: black;
}
#BiographieMatt{
    background-color: blue;
} */
